<div class="dialog-container">
    <h2 mat-dialog-title>ADD TASK</h2>
    <mat-dialog-content [formGroup]="addTaskForm">
        <mat-form-field>
            <mat-label>Filter by User</mat-label>
            <mat-select formControlName="user_id">
                <mat-option *ngFor="let user of users" [value]="user.id">
                    {{user.first_name}} {{user.last_name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Task Description" formControlName="description">
        </mat-form-field>
        <mat-form-field>
            <mat-label>State</mat-label>
            <mat-select formControlName="state">
                <mat-option *ngFor="let taskState of state" [value]="taskState.value">
                    {{taskState.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button class="mat-raised-button btn" (click)="close()">
            CLOSE
        </button>
        <button class="mat-raised-button mat-primary btn btn-primary" (click)="save()">
            Save
        </button>
    </mat-dialog-actions>
</div>