body { 
  margin: 0;
}
.btn-primary.focus, .btn-primary:focus, .form-control:focus {
  box-shadow: 0 0 0 0.2rem rgba(178, 181, 185, 0.5) !important;
}
.required{
  color: brown;
}
.btn-primary  {
  background-color: #023437 !important;
  border-color: #023437 !important;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  color: #fff !important;
}
.btn-primary:hover{
  background-color: #1cabb9 !important
}
label{
  font-size: .9rem;
}
html, body { height: 100%; }
.add-btn{
  float: right;
}
.box-container{
  box-sizing: border-box;
  width: 100%;
  height: 85%;
  max-width: 100%;
  max-height: 90%;
  margin: 24px auto;
  border-radius: 4px;
  color: #555;
  background-color: #fff;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.18), 0 6px 6px rgba(0, 0, 0, 0.25);
}
.inline-block{
  display: inline-block;
  width: 100%;
}
.inline-block h4{
  float: left;
}
.inline-block .add-btn{
  float: right;
}
.admin-link{
  cursor: pointer;
}